@import "../mixins";
@import "tabs";

.menu {
    height: 100%;
    width: 60px;
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    @include transition(all 0.3s ease-in-out);
    @include box-shadow(2px 0 3px rgba(0, 0, 0, 0.2));
    z-index: 99999;
    .menuBar {
        background: $blue;
        float: left;
        height: 100%;
        width: 60px;
        .tabs {
            margin: 60px auto;
            width: 30px;
            .tab {
                width: 25px;
                height: 25px;
                display: inline-block;
                vertical-align: middle;
                @include opacity(0);
                @include transition(opacity .5s cubic-bezier(.4, .85, .49, .99) .4s, transform .5s cubic-bezier(.4, .85, .49, .99) .4s);
                margin-top: 30px;
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        @include animation-delay(#{$i * 0.2}s);
                    }
                }
                &.style_icon {
                    background-image: icon(pencil, $white);
                }
                &.search_icon {
                    background-image: icon(glass, $white);
                }
                &.choropleth_icon {
                    background-image: icon(map, $white);
                }
                &.active {
                    &.style_icon {
                        background-image: icon(pencil, rgba($white, 0.5));
                    }
                    &.search_icon {
                        background-image: icon(glass, rgba($white, 0.5));
                    }
                    &.choropleth_icon {
                        background-image: icon(map, rgba($white, 0.5));
                    }
                }
            }
        }
    }
    &.collapsed {
        width: 320px;
        .tabsContent {
            width: 260px;
            .tabContent {
                opacity: 1;
            }
        }
        .tabs {
            .tab {
                @include animation(tabsAnimation .5s linear alternate forwards);
            }
        }
    }
}

@include keyframes(tabsAnimation) {
    0% {
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}